<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
  <p>
    <em>one</em>
    <path-view id="one"></path-view>
  </p>
  <p>
    <em>two</em>
    <path-view id="two"></path-view>
  </p>
  <p>
    <em>three</em>
    <path-view id="three">
      !!!
    </path-view>
  </p>
  <p>
    <em>four <span id="selected"></span></em>
    <path-view id="four">
      !!!
    </path-view>
  </p>

  <script type="text/javascript" src="../path-view.js"></script>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>
