body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}
#directories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1;
  margin: 2px;
}
#directories label {
  display: flex;
  overflow: hidden;
}
#directories input[type=radio] {
  display: none;
}
directory-view {
  flex: 1;
  overflow: hidden;
}
directory-view:not(first-child) {
  margin-left: 2px;
}
tools-view {
  margin: 0 2px 2px 2px;
}
@media screen and (max-width: 600px) {
  #directories {
    grid-template-columns: 1fr;
  }
}
